/*
 * Nav related css
 */

 nav {
  display: flex;
  background-color: #cc9654;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
  color: #FFFFFF;
  height: 120px;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
 }

.title {
  font-family: 'Bungee', cursive, sans-serif;
  font-size: 30px;
}

.sub-title {
  font-family: 'Source Sans Pro', sans-serif;
}

.arrow {
  position: absolute;
  bottom: 1em;
  right: 4.5em;
  color: rgb(240, 209, 32);
}

/* media queries for Desktop */

@media only screen and (min-width: 1024px) {

  nav {
    z-index:1;
    background-color: #4056A1;
    background-image: none;
  }
}