/*
 * New tweet form related css
 */

 button {
   background-color: #a0c1b8;
   color: #FFFFFF;
   font-family: 'Bungee', cursive, sans-serif;
   border: none;
   margin-top: 15px;
   margin-bottom: 20px;
 }
 .counter {
   float: right;
   font-family: 'Bungee', cursive, sans-serif;
   color: #545149;
   margin-top: 15px;
   margin-bottom: 20px;
 }

 #tweet-text {
  background: transparent;
  border-width: 0px 0px 3px 0px;
  border-color: #545149;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  outline: none;
  resize: none;
  width: 100%;
  margin-top: 1em;
  color: #545149;
 }

 .color-red {
  color: red;
 }

 .new-tweet {
  display: none;
 }